<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Customers</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div>
    <div class="container mt-4">
        <h3 class="mt-4 mb-4" style="text-align: center;">Customer List</h3>
        <div class="buttons mb-4">
            <button type="button" class="btn btn-success" (click)="createCustomer()">
                <i class="fas fa-user-plus"></i> Add Customer
            </button>
            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false" (click)="search()">
                <i class="fas fa-search"></i> Search by
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">First Name</a></li>
                    <li><a class="dropdown-item" href="#">City</a></li>
                    <li><a class="dropdown-item" href="#">Email</a></li>
                    <li><a class="dropdown-item" href="#">Phone</a></li>
                </ul>
            </button>
            <input type="text" class="form-control" placeholder="Search...">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search"></i>
            </button>
            <button class="btn btn-info" type="button" (click)="sync()">
                <i class="fas fa-sync-alt"></i> Sync
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customersRecords">
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.state }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone }}</td>
                    <td class="button-container">
                        <button type="button" class="btn btn-danger btn-sm" (click)="delete(customer)">
                            <i class="fas fa-trash icon-sm"></i>
                        </button>
                        <button type="button" class="btn btn-warning btn-sm" (click)="edit(customer)">
                            <i class="fas fa-edit icon-sm"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>