.card {
    max-width:35vw;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-family: sans-serif;
}

.card h3 {
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-top: 1rem;
}
.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}
.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}
.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0056b3;
}
.btn i {
    font-size: 1.2rem;
}

.button-container {
    display: flex;
    gap: 0.5rem; /* Adjust the space between buttons */
    align-items: center;
}
.btn-sm {
    font-size: 0.875rem; /* Make buttons smaller */
    padding: 0.25rem 0.5rem; /* Adjust padding for smaller size */
}

.button-container i {
    font-size: 0.75rem; /* Smaller icon size */
}

.buttons button i {
    font-size: 0.75rem;
}