.card {
    max-width:35vw;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-family: sans-serif;
}

.card h3 {
    font-weight: bold;
}

.form-row {
    margin-bottom: 1rem;
    column-gap: 16rem;
    margin-left: 0.2rem;
}

.form-group {
    margin-bottom: 1rem;
}

#usernameHelp, #passwordHelp {
    font-size: 12px;
    padding-top: 5px;
    padding-left: 5px;
}